* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-size: 16px;
}

/**
    GENERIC STYLES
*/

.move-right-20 {
    margin-left: 20px;
}

.move-right-30 {
    margin-left: 30px;
}

.move-right-40 {
    margin-left: 40px;
}

.move-right-50 {
    margin-left: 50px;
}

.move-right-60 {
    margin-left: 60px;
}

.move-right-60 {
    margin-left: 60px;
}

.move-right-70 {
    margin-left: 70px;
}

.move-right-80 {
    margin-left: 80px;
}

.move-right-90 {
    margin-left: 90px;
}

.move-right-100 {
    margin-left: 100px;
}

.generic-position {
    width: 100%;
    float: left;
}

.no-value {
    color: #ce2121;
}

.no-image {
    width: 150px;
    height: 150px;

    border: 1px solid gray;
}

.show {
    display:block;
}

.hide {
    display:none;
}

/**

Wrapper

*/

.wrapper {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}

.title-appearance {
    width: 100%;

    margin-top: 50px;

    padding:10px;
}

.title-looks {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;

    text-align: center;

    border-bottom: 1px solid gray;
}

/**
    PRESENTATION
*/

.presentation-appearance {
    margin-top: 50px;
}

.presentation {
    color: #3f3f3f;
    font-family: "Open Sans", sans-serif;
}

.presentation h1 {
    width: 100%;
    float:left;

    font-size: 1.3em;

    padding: 10px 10px 10px 0;

    border-bottom: 1px solid gray;
}

/**

    ITEMS

*/

.items {
    margin: 30px 0 0 20px;
}

.items .individual-item h2, .items .individual-item a {
    display:block;
    border-bottom: 1px dotted #e0e0e0;

    margin: 20px 0 20px 0;
    padding: 10px 0 10px 0;
}

.items .item {
    margin-bottom: 15px;
}

.item p {
    float:left;

    padding: 10px 10px 5px 0;

    margin-right: 15px;

    border-bottom: 1px solid #e0e0e0;

    line-height: 2em;
}

.item .name {
    width: 20%;
}

.item .value {
    width: 75%;
}