{% extends 'base.html.twig' %}

{% block content %}

    <div class="content content-appearance content-looks">
        {% include '_includes/_rootItem.html.twig' with {'rootItem': response.getRoot(), 'processed': processed } %}
        {% include '_includes/_items.html.twig' with {'items': response.getSearchResults() } %}
    </div>

{% endblock %}

